html,
body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  background-color: rgb(255, 255, 255);
}

.menu {
  width: 100%;
  background-color: rgb(27, 27, 27);
  color: rgb(245, 244, 241);
  padding: 10px 0;
}

.menu p {
  padding-left: 10px;
  font-size: 20px;
  margin: 0;
}

.main-content {
  display: flex;
  justify-content: center;
}

.main-content section {
  width: 40%;
  padding: 10px;
  color: rgb(27, 27, 27);
}

#create-new-task {
  width: 100%;
  text-align: center;
}

#create-new-task input {
  width: 70%;
  padding: 10px;
  border-width: 1px;
  border-style: solid;
  border-radius: 6px;
  border-color: rgb(216, 219, 219);
}

#create-new-task button {
  padding: 10px;
  border: none;
  border-radius: 6px;
  background-color: rgb(25, 105, 139);
  color: rgb(245, 244, 241);
  margin-left: 20px;
  cursor: pointer;
}

#todo-list ul {
  padding: 0;
  border-radius: 5px;
  border: 1px solid rgb(216, 219, 219);
}

#todo-list ul li {
  list-style: none;
  padding: 14px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-top: 1px solid rgb(216, 219, 219);
}

#todo-list li:first-child {
  border-top: none;
}

input[type="checkbox"] {
  cursor: pointer;
  width: 20px;
  height: 20px;
  border-radius: 2px;
}

#todo-list ul li p {
  font-size: 18px;
  padding-left: 30px;
  width: 85%;
}

.done {
  text-decoration: line-through;
  color: gray;
}

#todo-list ul li button {
  width: 35px;
  height: 35px;
  border: none;
  background-color: rgb(255, 255, 255);
}

#todo-list ul li button:hover {
  cursor: pointer;
}

#todo-list ul li button img {
  width: 100%;
  background-color: rgb(255, 255, 255);
  background-color: transparent;
}
