html body {
  height: 100%;
  margin: 0;
}
body {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f3f7f9;
  flex-direction: column;
}

.container {
  display: flex;
  gap: 20px;
  align-items: center;
  flex: 1;
}

h2 {
  font-weight: lighter;
  padding-left: 25px;
  font-size: 27px;
}

img {
  width: 320px;
  margin-bottom: -30px;
}

.info-c {
  margin-right: 140px;
  padding-bottom: 40px;
}

.form-c {
  background: #fff;
  padding: 20px;
  width: 340px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
}

input {
  padding: 14px;
  margin-bottom: 12px;
  border-radius: 6px;
  border: 1px solid #ddd;
  font-size: 16px;
  width: 92%;
}

.login button {
  background: #166fe5;
  color: white;
  border: none;
  padding: 14px;
  border-radius: 6px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
}
.login button:hover {
  background: #1877f2;
}

.forgot-password {
  text-align: center;
  margin: 14px 0;
}

.forgot-password a {
  text-decoration: none;
  color: #166fe5;
  font-size: 14px;
}

.forgot-password a:hover {
  text-decoration: underline;
}

hr {
  margin: 20px 0;
}

.cr-new-acc {
  display: flex;
  justify-content: center;
}

.cr-new-acc button {
  background: #05b82f;
  border: none;
  padding: 14px;
  border-radius: 6px;
  font-size: 17px;
  font-weight: 700;
  cursor: pointer;
  width: 58%;
  margin-top: 5px;
}

.cr-new-acc button:hover {
  background-color: #048622;
}

.cr-new-acc button a {
  text-decoration: none;
  color: #fff;
}

.footer {
  background: white;
  padding: 22px 0;
  font-size: 12px;
  color: #818080;
  width: 100%;
}
.footer-languages,
.footer-links,
.footer-meta {
  width: min(980px, 92%);
}
.footer a {
  color: #818080;
  text-decoration: none;
  margin-right: 10px;
  line-height: 8px;
  white-space: nowrap;
}
.footer a:hover {
  text-decoration: underline;
}

.footer-languages,
.footer-links {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.footer hr {
  border: none;
  height: 1px;
  background: #dadde1;
  margin: 8px auto;
}
.footer-meta {
  margin-top: 10px;
}

@media (max-width: 900px) {
  .container {
    flex-direction: column;
    text-align: center;
    margin-top: 50px;
  }
  .info-c {
    margin-right: 0;
    padding-bottom: 0;
  }
  h2 {
    padding-left: 0;
    font-size: 20px;
  }
}

@media (max-width: 400px) {
  h2 {
    font-size: 16px;
  }
  .form-c {
    width: 80%;
  }
}
