.main-buttons ul {
  display: flex;
  list-style: none;
  align-items: center;
}
.main-buttons li img {
  margin: 0 12px 0 -10px;
  width: 32px;
  padding: 6px 0;
}
.main-buttons li button {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 12px 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  background-color: white;
}
.main-buttons li button:hover {
  color: rgb(102, 101, 101);
}
.search {
  padding: 8px 30px 8px 16px;
  margin-left: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.search input {
  padding: 5px 8px;
  width: 300px;
  border: solid 1px #ccc;
  border-radius: 6px;
  font-size: 14px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.search input:hover {
  cursor: pointer;
}
.v-line {
  width: 0.5px;
  height: 20px;
  border: none;
  background: #ccc;
  margin: 0 12px;
  padding: auto 0;
}
.search button {
  padding: 5px 12px;
  border: solid 1px #ccc;
  border-radius: 6px;
  background-color: white;
  font-size: 14px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.search button:hover {
  color: rgb(102, 101, 101);
  cursor: pointer;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  text-align: center;
}

h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

p.subtitle {
  color: #555;
  font-size: 16px;
  margin-bottom: 100px;
}

.pricing-cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  background-color: white;
  border-radius: 12px;
  padding: 30px 20px;
  width: 260px;
  box-shadow: 0 4px 120px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  transition:
    transform 0.2s,
    box-shadow 0.2s;
}

.card:hover {
  transform: translateY(-5px);
}

.card.recommended {
  border: 2px solid #377dff;
}

.card h2 {
  margin: 0;
  margin-bottom: 10px;
}

.card p {
  font-size: 14px;
  color: #555;
  margin: 5px 0 30px;
}

.price {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 15px;
}

.card button {
  padding: 10px 18px;
  border: none;
  border-radius: 6px;
  margin-top: 5px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
}

.card button.primary {
  background-color: #24292f;
  color: white;
}

.card button.secondary {
  background-color: white;
  border: 1px solid #ccc;
  color: #24292f;
}

.card ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
  text-align: left;
  font-size: 13px;
  color: #555;
}

.card ul li {
  margin-bottom: 8px;
}

@media (max-width: 900px) {
  .pricing-cards {
    flex-direction: column;
    align-items: center;
  }
  .card {
    width: 70%;
  }
  .main-buttons li button {
    display: none;
  }
  .search input {
    display: none;
  }
  .v-line {
    display: none;
  }
}
