.card {
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  background: white;
  font-family: Arial, Helvetica, sans-serif;
  height: 550px;
}

.main-img {
  width: 100%;
  height: 200px;
  object-fit: contain;
}

.thumbs {
  display: flex;
  gap: 6px;
}

.thumbs img {
  width: 50px;
  height: 50px;
  object-fit: contain;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.price {
  font-weight: bold;
  color: rgb(81, 136, 81);
}

.rating {
  display: flex;
  align-items: center;
  gap: 5px;
}

.kaspi-link {
  text-decoration: none;
  color: #ef405b;
  font-weight: bold;
}

.kaspi-link:hover {
  color: #b02a3e;
}

.share button {
  margin-right: 8px;
}
