html,
body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  background-color: #f3f7f9;
}

.container {
  display: flex;
  width: 100%;
}

#inst-logo {
  width: 100px;
  height: 100px;
  padding: 40px 0 0 40px;
  margin-bottom: -40px;
}

h1 {
  font-weight: lighter;
  font-size: 50px;
  margin-bottom: -30px;
  text-align: center;
}

h1 span {
  background: linear-gradient(90deg, rgb(231, 159, 25), red, rgb(190, 7, 190));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#cont-img {
  width: 680px;
}

.logo-info {
  flex: 6;
}

.info-c {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-c {
  flex: 3.8;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: solid 2px rgb(203, 201, 201);
}

#log {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 66px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

label {
  font-size: larger;
  margin-bottom: 20px;
  font-weight: bold;
}

.inputs {
  padding: 18px 16px 20px 16px;
  margin-bottom: 12px;
  border-radius: 14px;
  border: 1px solid #ddd;
  font-size: 16px;
}

.login button {
  background: #166fe5;
  color: white;
  border: none;
  padding: 14px;
  border-radius: 26px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 10px;
  width: 100%;
}
.login button:hover {
  background: #1877f2;
}

.forgot-password {
  text-align: center;
  margin: 14px 0 40px;
}

.forgot-password a {
  text-decoration: none;
  color: #166fe5;
  font-size: 16px;
}

.forgot-password a:hover {
  text-decoration: underline;
}

.cr-new-acc {
  display: flex;
  justify-content: center;
}

.cr-new-acc button {
  border-color: #166fe5;
  border-width: 1px;
  padding: 14px;
  border-radius: 26px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  margin-top: 12px;
}

.cr-new-acc button:hover {
  background-color: #1877f2;
}

.cr-new-acc button a {
  text-decoration: none;
  color: #166fe5;
}

@media (max-width: 900px) {
  .info-c {
    display: none;
  }
  #inst-logo {
    width: 75px;
    height: 75px;
    padding: 0;
    margin: 0;
  }
  .logo-info {
    flex: 1;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .form-c {
    border-top: solid 2px rgb(203, 201, 201);
    flex: 6;
  }
  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}
